[submodule "personal-website/themes/starter-hugo-academic"]
	path = personal-website/themes/starter-hugo-academic
	url = https://github.com/wowchemy/starter-hugo-academic.git
[submodule "personal-website/themes/ananke"]
	path = personal-website/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "personal-website/themes/wowchemy-hugo-themes"]
	path = personal-website/themes/wowchemy-hugo-themes
	url = https://github.com/wowchemy/wowchemy-hugo-themes.git
[submodule "personal-website/themes/hugo-PaperMod"]
	path = personal-website/themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
