[submodule "personal-website/themes/wowchemy-hugo-themes"]
	path = personal-website/themes/wowchemy-hugo-themes
	url = https://github.com/wowchemy/wowchemy-hugo-themes.git
[submodule "personal-website/themes/hugo-PaperMod"]
	path = personal-website/themes/hugo-PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
